<template lang="html">
  	<ul class="nav nav-pills">
		<!-- Standard way -->
  		<!-- <li role="presentation"><router-link to="/">Home</router-link></li>
  		<li role="presentation"><router-link to="/user">User</router-link></li> -->

		<!-- Bootstrap way (set active-router class to 'li' tag and set it to 'active') -->
		<router-link to="/" tag="li" active-class="active" exact><a>Home</a></router-link>
		<router-link to="/user" tag="li" active-class="active"><a>User</a></router-link>
  	</ul>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
