<template>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<h1>Directives Exercise</h1>
				<!-- Exercise -->
				<!-- Build a Custom Directive which works like v-on (Listen for Events) -->
				<button type="button" class="btn btn-info" v-myOn:click="clicked">Click me!</button>
				<hr>
				<div class="box" v-myOn:mouseenter="mouseEnter" v-myOn:mouseleave="mouseLeave"></div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	directives: {
		myOn: {
			bind(el, binding) {
				el.addEventListener(binding.arg, binding.value);
			}
		}
	},
	methods: {
		clicked() {
			console.log('I was clicked!');
		},
		mouseEnter() {
			console.log('Mouse entered!');
		},
		mouseLeave() {
			console.log('Mouse left!');
		}
	}
}
</script>

<style scoped>
.box{
	width: 100px;
	height: 100px;
	background-color: gray;
}
</style>
