<template>
	<div>
		<button class="btn btn-primary" @click="asyncIncrement({by: 50, duration: 500})">Increment</button>
		<button class="btn btn-primary" @click="asyncDecrement({by: 50, duration: 500})">Decrement</button>
	</div>
</template>

<script>
// Mutations:
// import { mapMutations } from 'vuex';

// Acitons:
import { mapActions } from 'vuex';
export default {
	// Mutations:
	// methods: {
	// 	...mapMutations([
	// 		'increment',
	// 		'decrement'
	// 	])
	// }

	// Acitons:
	methods: {
		...mapActions([
			'asyncIncrement',
			'asyncDecrement'
		])
	}
}
</script>
