<template>
	<div>
		<!-- Without mapGetters function:
		<p>Counter is: {{ counter }}</p>
		<p>Number of Clicks: {{ clicks }}</p> -->
		<p>Counter is: {{ doubleCounter }}</p>
		<p>Number of Clicks: {{ stringCounter }}</p>
	</div>
</template>

<script>
import { mapGetters} from 'vuex';
export default {
	// Without mapGetters function:
	// computed: {
	// 	counter() {
	// 		return this.$store.getters.doubleCounter;
	// 	},
	// 	clicks() {
	// 		return this.$store.getters.stringCounter;
	// 	}
	// }

	// With mapGetters:
	computed: {
		// need to install stage-2 to work (and update .babelrc file)
		...mapGetters([
			'doubleCounter',
			'stringCounter'
		])
	}
}
</script>
