<template>
    <div class="container">
        <form>
            <div class="row" v-if="!isSubmitted">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

					<full-name v-model="userData.fullName"></full-name>

					<div class="form-group">
						<label for="email">Mail</label>
						<input type="email" id="email" v-model="userData.email">
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" v-model="userData.password">
					</div>

					<div class="form-group">
						<h3>Store Data</h3>
						<label>Yes
							<input type="radio" id="yes" value="yes" v-model="storeData">
						</label>
						<label>No
							<input type="radio" id="no" value="no" v-model="storeData">
						</label>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-info" @click.prevent="submit">Submit</button>
					</div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row" v-if="isSubmitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ userData.fullName }}</p>
                        <p>Mail: {{ userData.email }}</p>
                        <p>Password: {{ userData.password }}</p>
                        <p>Store in Database?: {{ storeData }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FullName from './FullName.vue';

    export default {
		data() {
			return {
				userData: {
					fullName: '',
					email: '',
					password: ''
				},
				storeData: 'yes',
				isSubmitted: false
			};
		},
		components: {
			FullName
		},
		methods: {
			submit() {
				this.isSubmitted = true;
			}
		}
    }
</script>

<style>
</style>
