<template>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<h1>Animations</h1>
				<!-- <button @click="isShow = !isShow" class="btn btn-primary">Toggle Alert</button> -->
				<!-- <hr>
				<h2>Single Element Animations</h2>
				<br><br>
				<transition name="fade">
					<div v-if="isShow" class="alert alert-info">Fade Effect</div>
				</transition>
				<br>
				<transition name="slide" type="animation">
					<div v-if="isShow" class="alert alert-info">Slide and Fade Effect</div>
				</transition>
				<br>
				<transition name="fade" appear>
					<div v-if="isShow" class="alert alert-info">Appear</div>
				</transition>
				<br>
				<transition enter-active-class="animated bounce" leave-active-class="animated shake">
					<div v-if="isShow" class="alert alert-info">Custom classes animations (animate.css)</div>
				</transition>
				<p>Select animation:</p>
				<select v-model="alertAnimation" class="form-control">
					<option value="slide">Slide</option>
					<option value="fade">Fade</option>
				</select>
				<br>
				<transition :name="alertAnimation">
					<div v-if="isShow" class="alert alert-info">Selected animation</div>
				</transition> -->
				<!-- <hr>
				<h2>Multiple Elements Animations</h2>
				<transition :name="alertAnimation" mode="out-in">
					<div v-if="isShow" class="alert alert-info" key="info">This is some info</div>
					<div v-else class="alert alert-warning" key="warning">This is some warning</div>
				</transition> -->
				<hr>
				<h2>Transition JS Hooks</h2>
				<button class="btn btn-primary" @click="load = !load">Load / Remove Element</button>
				<br><br>
				<transition
					@before-enter="beforeEnter"
					@enter="enter"
					@after-enter="afterEnter"
					@enter-cancelled="enterCancelled"

					@before-leave="beforeLeave"
					@leave="leave"
					@after-leave="afterLeave"
					@leave-cancelled="leaveCancelled"
					:css="false" 
				>
					<div class="box" v-if="load"></div>
				</transition>

			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isShow: true,
			alertAnimation: 'fade',
			load: false
		}
	},
	methods: {
		beforeEnter(el) {
			console.log('beforeEnter');
		},
		enter(el, done) {
			console.log('enter');
			done();
		},
		afterEnter(el) {
			console.log('afterEnter');
		},
		enterCancelled(el) {
			console.log('enterCancelled');
		},

		beforeLeave(el) {
			console.log('beforeLeave');
		},
		leave(el, done) {
			console.log('leave');
			done();
		},
		afterLeave(el) {
			console.log('afterLeave');
		},
		leaveCancelled(el) {
			console.log('leaveCancelled');
		}
	}
}
</script>

<style>
/* Fade Animation */
.fade-enter{
	opacity: 0;
}
.fade-enter-active{
	transition: opacity 1s ease;
}
.fade-leave{
	opacity: 1;

}
.fade-leave-active{
	transition: opacity 1s ease;
	opacity: 0;
}


/* Slide Animation */
@keyframes slide-in{
	from{
		opacity: 0;
		transform: translateY(20px);
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-out{
	from{
		opacity: 1;
		transform: translateY(0);
	}
	to{
		opacity: 0;
		transform: translateY(20px);
	}
}
.slide-enter{

}
.slide-enter-active{
	animation: slide-in 1s forwards;
}
.slide-leave{

}
.slide-leave-active{
	animation: slide-out 1s forwards;
}


.box{
	width: 100px;
	height: 100px;
	background-color: lightgreen;
}
</style>
