<template lang="html">
	<div>
		<h1>The User Page</h1>
		<hr>
		<button @click="navigateToHome" class="btn btn-primary">Go to Home</button>
		<!-- <p>Loaded ID: {{ id }}</p> -->
		<hr>
		<router-view></router-view>
	</div>
</template>

<script>
export default {
	// data() {
	// 	return{
	// 		id: this.$route.params.id
	// 	};
	// },
	// watch: {
	// 	'$route' (to, from) {
	// 		this.id = to.params.id;
	// 	}
	// },
	methods: {
		// (1)
		// navigateToHome() {
		// 	this.$router.push('/');
		// }
		// (2)
		navigateToHome() {
			this.$router.push({ name: 'home'});
		}
	}
}
</script>

<style lang="css">
</style>
