<template>
	<div>
		<input type="text" v-model="filterText">
		<ul>
			<li v-for="friut in filteredFriuts">{{ friut }}</li>
		</ul>
	</div>
</template>

<script>
import { fruitMixin } from '../fruitMixin';
export default {
	mixins: [fruitMixin],
	created() {
		console.log('Inside List Created Hook!');
	}
}
</script>

<style>

</style>
