<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives</h1>
				<p v-text="'Lorem ipsum'"></p>
            </div>
        </div>
		<hr>
		<div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives</h1>
				<p v-highlight:background.delayed="'red'">Color this</p>
				<p v-local-highlight:background.delayed.blink="{mainColor: 'red', secondColor: 'green', intervals: 300}">Color this</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
		directives: {
			'local-highlight': {
				bind(el, binding, vnode) {
					var delay = 0;
					if(binding.modifiers['delayed']) {
						delay = 3000;
					}
					if(binding.modifiers['blink']) {
						let mainColor = binding.value.mainColor;
						let secondColor = binding.value.secondColor;
						let currentColor = mainColor;
						setTimeout(() => {
							setInterval(() => {
								currentColor == secondColor ? currentColor = mainColor : currentColor = secondColor;
								if(binding.arg == 'background') {
									el.style.backgroundColor = currentColor
								} else {
									el.style.color = currentColor;
								}
							} ,binding.value.intervals);
						}, delay);
					} else {
						setTimeout(() => {
							if(binding.arg == 'background') {
								el.style.backgroundColor = binding.value;
							} else {
								el.style.color = binding.value;
							}
						}, delay);
					}
				}
			}
		}
    }
</script>

<style>
p{
	transition: all 0.3s ease;
}

</style>
