<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script src="https://npmcdn.com/vue/dist/vue.js"></script>

	<div id="exercise">
		<!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
		<div>
			<button @click="isVisible = !isVisible">Toggle</button>
			<p v-if="isVisible">You either see me ...</p>
			<p v-else>...or me</p>
			<p v-show="isVisible">You either see me ...</p>
			<p v-show="!isVisible">...or me</p>
		</div>
		<!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
		<ul v-for="(name, index) in array">
			<li>{{ name }} ({{ index }})</li>
		</ul>
		<!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
		<ul v-for="(value, key, index) in myObject">
			<li>{{ key }} : {{ value }}  ({{ index }})</li>
		</ul>
		<!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
		<ul>
			<li v-for="value in testData">
				<template v-if="Array.isArray(value)">
					<div v-for="element in value">{{ element }}</div>
				</template>
				<template v-else>
					{{ value }}
				</template>
			</li>
		</ul>
	</div>

	<script src="app.js"></script>
</body>
</html>
